@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import "~swiper/dist/css/swiper.min.css";
@import "components/buttons";
@import "components/slider";
@import "components/tour";

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: config('colors.brand');
}

.navigation {
    a {
        @apply border-b-4 border-transparent;
        transition: all 0.3s ease;
        &:hover {
            @apply border-brand-light text-brand-light;
        }
    }
    .active {
        @apply border-brand-light;
    }
}

.left-50 {
    left: 50%;
}

.-left-50 {
    left: -50%;
}

.image-bg {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
