@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import "~swiper/dist/css/swiper.min.css";
@import "components/buttons";
@import "components/slider";
@import "components/tour";

* {
    transition: visibility .3s ease, opacity .3s ease-out;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: config('colors.brand-dark');
}

.navigation {
    a {
        @apply border-b-4 border-transparent;
        transition: all 0.3s ease;
        &:hover {
            @apply border-brand-darker text-brand-darkest;
        }
    }
    .active {
        @apply border-brand-darker;
    }
}

.left-50 {
    left: 50%;
}

.-left-50 {
    left: -50%;
}

.image-bg {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.hero {
    position: relative;
    z-index: 10;
    overflow-x: hidden;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/images/header/boat.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(50%);
        z-index: -10;
    }
}

.heading-description {
    @apply text-grey-darkest max-w-md mb-12 text-center;
}

.heading-title {
    @apply text-4xl text-grey-darkest leading-tight p-4 mb-3;
    background-image: url("/images/line.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    z-index: 30;
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 110px;
        height: 1px;
        bottom: 3.8px;
        left: -170px;
        right: 0;
        margin: 0 auto;
        background: hsl(41, 13%, 23%) none repeat scroll 0 0;
        z-index: 20;
    }
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 110px;
        height: 1px;
        bottom: 3.8px;
        left: 170px;
        right: 0;
        margin: 0 auto;
        background: #454545 none repeat scroll 0 0;
        z-index: 20;
    }
}
