form {
    .label {
        @apply text-grey-light uppercase font-bold px-2 py-2 text-sm;
    }

    .form-control {
        position: relative;
        @screen lg {
            @apply mb-6;
        }
        @apply flex flex-col mb-1;

        input, select, textarea {
            @apply w-full;
            cursor: text;
            &:focus {
                @apply outline-none border border-brand-light;
            }
        }

        select {
            @apply text-grey-darkest;
            @apply border-none rounded-none bg-transparent;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-color: white;
            height: 100%;
        }

        input:focus ~label , textarea:focus ~ label{
            @apply text-sm px-2 py-1 text-black;
        }

        input::placeholder select::placeholder {
            @apply text-grey-darker uppercase font-semibold tracking-wide;
        }

        label {
            @apply text-grey-light uppercase font-bold px-2 py-2 text-sm;
            @md {
                @apply text-base;
            }
        }
    }

    .form-input {
        @apply border py-2 px-3 text-grey-darkest mb-2 text-sm;
        @screen md {
            @apply py-4 text-base;
        }
    }
    .is-invalid {
        @apply border border-danger;
    }
    .invalid-feedback {
        @apply text-sm text-danger p-0 m-0;
    }
}
