.slider-control {
    position: absolute;
    right: 5%;
    @screen xl {
        right: 15%;
    }
    top: 50%;
    z-index: 10;
    cursor: pointer;
    &--next {
        background-color: config('colors.brand');
        @apply rounded;
        transition: all .3s ease;
        &:hover {
            @apply bg-brand-darker;
        }
    }
    &--prev {
        background-color: config('colors.brand');
        @apply rounded;
        transition: all .3s ease;
        &:hover {
            @apply bg-brand-darker;
        }
    }
}
