.swiper-container {
    .swiper-slide {
        img {
            min-height: 100%;
            width: 100%;
            height: auto;

            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.6);
    }
}

.slider-control {
    position: absolute;
    right: 5%;
    @screen xl {
        right: 15%;
    }
    top: 50%;
    z-index: 10;
    cursor: pointer;
    &--next {
        background-color: config('colors.brand');
        @apply rounded;
        transition: all .3s ease;
        &:hover {
            @apply bg-brand-darker;
        }
    }
    &--prev {
        background-color: config('colors.brand');
        @apply rounded;
        transition: all .3s ease;
        &:hover {
            @apply bg-brand-darker;
        }
    }
}
